﻿@page
@model AzInsta.Pages.ConverterModel
@{
    ViewData["Title"] = "Converter";
}

<h1>Converter</h1>

<form method="post">
    <div class="form-group">
        <label for="azn">AZN:</label>
        <input type="number" class="form-control" id="azn" name="azn">
    </div>
    <div class="form-group">
        <label for="currency">Currency:</label>
        <select class="form-control" id="currency" name="currency">
            <option value="usd">USD</option>
            <option value="eur">EUR</option>
            <option value="rub">RUB</option>
            <option value="uah">UAH</option>
            <option value="gel">GEL</option>
        </select>
    </div>
    @if (Model.Currency != null)
    {
        <p>@Model.Currency.ToUpper(): @Model.Result</p>
    }
    <button class="btn btn-primary">Submit</button>
</form>