﻿@page
@using AzInsta.Model
@using Microsoft.AspNetCore.Identity
@model AzInsta.Pages.UsersModel
@inject UserManager<AppUser> userManager
@{
    ViewData["Title"] = "Users";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Email</th>
            <th scope="col">FullName</th>
            <th scope="col">Status</th>
            <th scope="col">Claims</th>
            @if (User.IsInRole("Admin"))
            {
                <th class="text-danger" scope="col">Admin</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
        <tr>
            <th><img src="~/images/@(item.Image ?? "profile.jpg")" alt="Alternate Text" style="width: 50px; height: 50px; border-radius: 100%; object-fit: cover" /></th>

            @if (await userManager.IsInRoleAsync(item, "Admin"))
            {
                <td class="text-success">@item.Email</td>
            }
            else
            {
                <td>@item.Email</td>
            }

            <td>@item.FullName</td>
            <td>@(item.LockoutEnd?.ToString() ?? "Not banned")</td>
            <td>
                @foreach (var claim in await userManager.GetClaimsAsync(item))
                {
                    <span>@claim</span>
                }
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    <a asp-area=""
                       asp-controller="Admin"
                       asp-action="BanUser"
                       asp-route-username="@item.UserName"
                       asp-route-time="@TimeSpan.FromMinutes(1)"
                       class="btn btn-danger">
                        <i class="fas fa-ban"></i>
                    </a>

                    <a asp-area=""
                       asp-controller="Admin"
                       asp-action="ToggleAdminRole"
                       asp-route-username="@item.UserName"
                       class="btn btn-success">
                        <i class="fas fa-user-shield"></i>
                    </a>

                    <a asp-area=""
                       asp-controller="Admin"
                       asp-action="CanConvert"
                       asp-route-username="@item.UserName"
                       class="btn btn-warning">
                        <i class="fas fa-comment-slash"></i>
                    </a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>