﻿@page
@model AzInsta.Pages.CurrentModel
@{
    ViewData["Title"] = "Profile";
}

<h1>Hello, @Model.CurrentUser.FullName</h1>

@if (Model.CurrentUser.Image != null)
{
    <img src="~/images/@Model.CurrentUser.Image" alt="Alternate Text" style="width: 200px; height: 200px; border-radius: 100%; object-fit: cover" />
}
else
{
    <img src="https://banner2.kisspng.com/20180401/klw/kisspng-user-profile-computer-icons-clip-art-profile-5ac092f6f2d337.1560498715225699749946.jpg" alt="Alternate Text" style="width: 200px; height: 200px; border-radius: 100%; object-fit: cover" />
}

<a asp-page="/Profile/Settings" class="btn btn-primary">Settings</a>
