﻿@page
@model AzInsta.Pages.Profile.SettingsModel
@{
    ViewData["Title"] = "Settings";
}

<h1>Settings</h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Input.FullName"></label>
        <input asp-for="Input.FullName" class="form-control">
        <span asp-validation-for="Input.FullName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Image"></label>
        <input type="file" asp-for="Input.Image" class="form-control-file">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
